<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <img src="images/feature.png" alt="customization feature">
        <h2>Customization</h2>
        <p>Navigating an everyday app should be simple, and that&#39;s why we rethought how students and instructors access the things they use most. They can now rename, hide, reorder, and color-code courses &#45; so they decide what&#39;s most important in the app. With features like favoriting blog posts, folders, and announcements, no one will have to click through a whole course to get to the places they visit most often.</p>
    </section>

	<!-- End Component -->
	
</body>
</html>