<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <nav>
            <ul>
                <li><a href="">Logo</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Collection</a></li>
            </ul>
            <form>
                <input type="search" placeholder="Search">
                <button type="submit"></button>
            </form>
            <ul>
                <li>Upload</li>
                <li>User
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li>Notifications</li>
                <li>Messages</li>
                <li>more options</li>
            </ul>
        </nav>
    </header>
	

	<!-- End Component -->
	
</body>
</html>