<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <nav>
            <h1><a href="https://soundcloud.com">SoundCloud</a></h1>
            <ul>
                <li><a href="https://soundcloud.com/stream">Home</a></li>
                <li><a href="https://soundcloud.com/you/collection">Collection</a></li>
            </ul>
            <form>
                <input type="search" placeholder="Search">
                <button type="submit">Search</button>
            </form>
            <ul>
                <li><a href="https://soundcloud.com/upload">Upload</a></li>
                <li><a href="profile.html">User</a></li>
                <li><a href="notifications">Notifications</a></li>
                <li><a href="messages.html">Messages</a></li>
                <li><a href="more.html">more</a></li>
            </ul>
        </nav>
    </header>
	

	<!-- End Component -->
	
</body>
</html>