<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Facebook Login</h2>
        <form>
            <label>Email or Phone:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <label>remember me</label>
            <p><input type="checkbox" name="keepmeloggedin" value="keymeloggedin"> Keep me logged in</p>
            <p><button type="submit">Log In</button> or <a href="signup.html">Sign up for Facebook</a></p>
            <p><a href="forgotpassword.html">Forgot your password?</a></p>
        </form>
    </section>
	

	<!-- End Component -->
	
</body>
</html>