<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Nigh</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Meet Our Team</h2>
        <article>
            <img src="placeholder.jpg" alt="">
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://plus.google.com/">Google Plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
            <p><a href="">more info</a></p>
        </article>
        <article>
            <img src="placeholder.jpg" alt="">
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://plus.google.com/">Google Plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
            <p><a href="">more info</a></p>
        </article>
        <article>
            <img src="placeholder.jpg" alt="">
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://plus.google.com/">Google Plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
            <p><a href="">more info</a></p>
        </article>
        <article>
            <img src="placeholder.jpg" alt="">
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://plus.google.com/">Google Plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>You think water moves fast? You should see ice. It moves like it has a mind.</p>
            <p><a href="">more info</a></p>
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>