<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Nigh</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Meet Our Team</h2>
        <acrticle>
            <img src="" alt="">
            <ul>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Google Plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </acrticle>
        <acrticle>
            <img src="" alt="">
            <ul>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Google Plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </acrticle>
        <acrticle>
            <img src="" alt="">
            <ul>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Google Plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </acrticle>
        <acrticle>
            <img src="" alt="">
            <ul>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Google Plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </acrticle>
    </section>
	<!-- End Component -->
	
</body>
</html>