<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <section>
            <video></video>
            <a href=""></a>
            <h3>BuffDaddyHD</h3>
            <p>playing<a href="">Paper Mario</a></p>
            <h1>Twitch Partner Spotlight - BuffDaddyHD</h1>
            <p>There are some amazing smaller broadcasters on Twitch, and we want these rising stars to have an opportunity to showcase what they are all about. That's where the Twitch Partner Spotlight comes in. Every week we choose an up-and-comming broadcasters for some guarnteed front page and social media exposure and help them share their talents with a wider audience</p>
            <p><a href="">Click here</a>to watch this week's pick and chat live!</p> 
        </section>
        <ul>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html>