<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <video></video>
            <img src="images/profile.png" alt="BuffDaddyHD">
            <h3>BuffDaddyHD</h3>
            <p>playing<a href=""> Paper Mario</a></p>
            <h2>Twitch Partner Spotlight - BuffDaddyHD</h2>
            <p>There are some amazing smaller broadcasters on Twitch, and we want these rising stars to have an opportunity to showcase what they are all about. That's where the Twitch Partner Spotlight comes in. Every week we choose an up-and-comming broadcasters for some guarnteed front page and social media exposure and help them share their talents with a wider audience</p>
            <p><a href="">Click here</a> to watch this week's pick and chat live!</p>
        </article>
        <ul>
            <li><img src="images/spotlight.png" alt="Twitch Spotlight"></li>
            <li><img src="images/kyle.png" alt="Kyle Landry"></li>
            <li><img src="images/attack.png" alt="The Attack"></li>
            <li><img src="images/obg.png" alt="OBG"></li>
            <li><img src="images/kyle.png" alt="Kyler Elizabeth"></li>
            <li><img src="images/spoon.png" alt="Spoonerism"></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html>