<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <nav>
            <img src="images/logo" alt="twitch.tv">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Turbo</a></li>
                <li><a href="">Music</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Developers</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="">Mobile</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Ad Choices</a></li>
                <li><a href="">Cookie Policy</a></li>
                <li><a href="">Language</a></li>
            </ul>
            <p>&copy; 2015 Twitch Interactive, Inc.</p>
        </nav>
    </footer>
	

	<!-- End Component -->
	
</body>
</html>