<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jacob Nigh</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    <div class="wrapper">
        <section id="features">
            <h2>Featured Games</h2>
            <article>
                <img src="placeholder.jpg" alt="">
                <h3>Title</h3>
                <p>Paragraph copy...</p>
            </article>
            <ul>
                <li><a href="">Previous</a></li>
                <li><a href="">Next</a></li>
            </ul>
        </section>
        
        <section id="topgames">
            <h2>Top Games</h2>
            <article>
                <img src="placeholder2.jpg" alt="">
                <h3>Title</h3>
                <p>Paragraph copy...</p>
            </article>
            <article>
                <img src="placeholder2.jpg" alt="">
                <h3>Title</h3>
                <p>Paragraph copy...</p>
            </article>
            <article>
                <img src="placeholder2.jpg" alt="">
                <h3>Title</h3>
                <p>Paragraph copy...</p>
            </article>
            <article>
                <img src="placeholder2.jpg" alt="">
                <h3>Title</h3>
                <p>Paragraph copy...</p>
            </article> 
        </section>
    </div>
    </section>
	

	<!-- End Component -->
	
</body>
</html>