<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <section>
            <h1>Contact Imgur</h1>
            <p>If you're looking to contact Imgur, you've come to the right place. Please select the relevant topic below to be connected with the right department. Please check our <a href="">Twitter</a> or <a href="">Facebook</a> for current site status updates.</p>
        </section>
        <section>
            <nav>
                <ul>
                    <li>
                        <h2>Support &amp; General Inquiry</h2>
                        <p>Imgur Help is here to answer your questions and fix any site problems you may be experiencing.</p>
                    </li>
                    <li>
                        <h2>Image Removal</h2>
                        <p>Submit an image URL to be removed.</p>
                    </li>
                    <li>
                        <h2>Store</h2>
                        <p>Contact the Store Manager for information about your Imgur Store order.</p>
                    </li>
                    <li>
                        <h2>Advertising</h2>
                        <p>Get your message in front of the Imgur community with advertising on Imgur.</p>
                    </li>
                    <li>
                        <h2>Partnerships</h2>
                        <p>Think we should work together? Reach out to us with your ideas.</p>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
	

	<!-- End Component -->
	
</body>
</html>