<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <nav>
            <h2>About Youtube</h2>
            <ul>
                <li>About</li>
                <li>Getting Started</li>
                <li>Community Guidelines</li>
                <li>Brand Guidelines</li>
                <li>Contact Us</li>
                <li>Career</li>
                <li>Merchandise</li>
            </ul>
        </nav>
        <main>
            <h2>About YouTube</h2>
            <p>Launced in May 2005, YouTube allows billions of people to discover, watch and share orginally-created videos. YouTube provides a forum for people to connect, inform, and inspire others across the globe and acts as a distribution platform for orginal content creators and adverstisers large and small.</p>
            <p>YouTube is a Google company.</p>
            <article>
                <img src="" alt="">
                <a href="">Getting Started</a>
                <p>We've put together a step-by-step guide to get you started on YouTube.</p>
            </article>
            <article>
                <img src="" alt="">
                <a href="">Community Guidelines</a>
                <p>Read up on our guidelines for participating in the YouTube community.</p>
            </article>
            <article>
                <img src="" alt="">
                <a href="">Brand Guidelines</a>
                <p>Guidelines for using the YouTube name and logo.</p>
            </article>
            <article>
                <img src="" alt="">
                <a href="">Contact Us</a>
                <p>Find contact information for our various departments.</p>
            </article>
            <article>
                <img src="" alt="">
                <a href="">Careers</a>
                <p>Want to work at YouTube? Check out our careers page to hear from current employees and find available positions.</p>
            </article>
            <article>
                <img src="" alt="">
                <a href="">Merchandise</a>
                <p>Sunglasses, T-shirts, backpacks—we've got a whole online store filled with YouTube merchandise for your purchasing pleasure.</p>
            </article>
        </main>
    </section>
	

	<!-- End Component -->
	
</body>
</html>