<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <section>
            <article>
                <img src="images/kls17.png" alt="Korean LoL School: #17 Request Denied">
                <p>Korean LoL School: #17 Request Denied</p>
            </article>
            <article>
                <img src="images/lmsrw7.png" alt="LMS Recap: Week Seven">
                <p>LMS Recap: Week Seven</p>
            </article>
            <article>
                <img src="images/fnatic.png" alt="Is it possible for a 14-0 Fnatic to still miss worlds?">
                <p>Is it possible for a 14-0 Fnatic to still miss worlds?</p>
            </article>
            <article>
                <img src="images/ier.png" alt="International Elo Ratings 2015/07/05">
                <p>International Elo Ratings 2015/07/05</p>
            </article>
            <article>
                <img src="images/kls14.png" alt="Korean LoL School: #14 Why So Serious!?!">
                <p>Korean LoL School: #14 Why So Serious!?!</p>
            </article>
            <article>
                <img src="images/kls15.png" alt="Korean LoL School: #15 Traitor Among Us">
                <p>Korean LoL School: #15 Traitor Among Us</p>
            </article>
            <article>
                <img src="images/gpl.png" alt="GPL Roundup: Week 1/2">
                <p>GPL Roundup: Week 1/2</p>
            </article>
        </section>
        <main>
            <h2>Featured Articles</h2>
            <ul>
                <li>Hot</li>
                <li>Latest</li>
            </ul>
            <img src="" alt="">
            <h2>Huni and the Western Top Lane Renaissance</h2>
            <p>Huni's rise has refocused the West's attention to the top lane position.</p>
        </main>
        <aside>
            <h2>Don't Miss a Thing</h2>
            <p>Follow us on Facebook and Twitter!</p>
            <ul>
                <li>www.facebook.com/Goldper10</li>
                <li>@Goldper10</li>
            </ul>
        </aside>
    </section>
	

	<!-- End Component -->
	
</body>
</html>