<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <section>
            <figure>
                <img src="" alt="">
                <figcaption>Korean LoL School #17 Request Denied</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>LMS Recap: Week Seven</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>International Elo Ratings 2015/07/05</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Korean LoL School: #15 Traitor Among Us</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Is It Possible for 14-0 Fnactic to still miss Worlds?</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Korean LoL School #14 Why So Serious!?!</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>GPL Roundup: Week 1-2</figcaption>
            </figure>
        </section>
    </section>
	

	<!-- End Component -->
	
</body>
</html>